.wrap {padding: 20px}

header {}
header h1{}
header h1>a{}
header nav.controler{display: flex; align-items: center; margin-bottom: 20px}
header nav.controler>a{padding:5px 10px; border: 1px solid #ccc}
header nav.controler>a:hover{background-color: #ccc; border-color: #fff}
header nav.controler h2{margin: 0px 10px}
header nav.manager{display: flex}

main{}
main table{}
main table tr{}
main table tr th{padding: 10px}
main table tr td{padding: 10px}
main table tr td:nth-of-type(2){}
main table tr td:nth-of-type(2) input[type="text"]{width:200px}
main table tr td:nth-of-type(3){max-width : 400px}
main table tr td form{display: flex; justify-content: center; align-items: center}
main table tr td form input[type="hidden"]{}
main table tr td form input[type="submit"]{padding:3px; width: 60px; border: 1px dashed #222}
main table tr td form input.success{border:1px solid; background-color:#fff}